
#result-output {
    position: relative;
}

.output-content {
    height: 60%;
}

.definition-panel {
    position: fixed;
    width: 100%;
    max-height: 40vh;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    border-top: 1px solid #aaa;
    z-index: 100;
    
    div {
        max-width: 600px;
        max-height: 40vh;
        padding: 0 0.6em;
        width: 100%;
        display: inline-block;
        text-align: left;
        
        pre {
            max-height: calc(40vh - 36px);
            overflow: scroll;
        }
    }
    
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        padding-top: 0.4em;
    }
    
    .close-button {
        position: absolute;
        border: none;
        background: white;
        right: 0;
        top: 0;
        margin: 6px;
    }
}