#interactive {
    margin-bottom: 20vh;
}

.interative-header {
    padding: 3em 0;
    text-align: center;
    
    h1 {
        font-weight: 300;
        font-family: "consolas", monospace;
        
        div {
            font-size: 24px;
            letter-spacing: 2em;
            line-height: 2em;
            margin-right: -2em;
        }
    }
    
    h1 a {
        position: relative;
        color: inherit;
        
        &:hover {
            text-decoration: none;
        }
    }
    
    h2 {
        font-size: 18px;
        font-weight: 300;
    }
}
